.sectionTitle
{
  margin-top: 17px;
  margin-bottom: 34px;
}
.emailContent
{
  background-color: $lightGrey;
  overflow-y: scroll;
}
.dropdown-content
{
  background-color: $white;
}

.icon,.link
{
  display: inline-block;
}

.button-collapse
{
  vertical-align: bottom;
}

.link,.link:visited, .link:hover,.link:active
{
  font-size: 27px;
  vertical-align: bottom;
  color: $purplePink;
}

.small-search
{
  width: 80% !important;
}


.searchField
{
  width: 70%;
  .input-field-search
  {
    width: 85%;
    margin-right: 10px;
  }
}

.mailCheck[type="checkbox"].filled-in:checked + label:after{
  border: 2px solid $purplePink;
  background-color: $purplePink;
}
[type="checkbox"] + label
{
  padding-left: 0 !important;
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
  -ms-transform: scale(0.70);
  -o-transform: scale(0.70);
  transform: scale(0.70);
}

[type="checkbox"].filled-in:not(:checked) + label:after
{
  border: 2px solid $middleGrey !important;
}

[type="checkbox"].filled-in:not(:checked):hover + label:after
{
  border: 2px solid $sidebarBlack !important;
}

.star
{
  position: relative;
  margin-left: 20px;
}
.trash, .star
{
  i
  {
    font-size: 20px;
    color: $middleGrey;
    cursor: pointer;
  }

  i:hover
  {
    color: $sidebarBlack;
    transition: all 0.2s;
  }
}

.seperator
{
  font-weight:normal;
}

.mailSubject
{
  font-weight:bold;
}

.mail
{
  font-size: 13.8px;
}

.mail
{
  border-left: 3px solid transparent ;

}

.mail:hover
{
  background-color: rgba(#4D545D, 0.1);
}

.activeMail
{
  border-left: 7px solid $purplePink;
  background-color: rgba(#4D545D, 0.1);
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea
{
  margin-bottom: 0 !important;
}


.subjectAndBody,.dateRecieved
{
  padding: 6px 0 !important;
}

[type="checkbox"] + label
{
  height: 19px !important;
}

.star,.selectBox,.trash
{
  vertical-align: middle;
}
.actionIcons
{
  padding-top: 5px !important;
}
.senderDetails
{
  padding-top: 5px !important;
}
.mailItem
{
  padding: 5px 0;
}

.searchField
{
  height: 2rem !important;
}

/* label underline focus color */
input[type=text]:focus {
  border-bottom: 1px solid $purplePink !important;
  box-shadow: 0 1px 0 0 $purplePink !important;
}
