.emailBody
{
  background-color: $lighterGray;
  overflow-y: scroll;
}
.emailBodyContent
{
  text-align: left;
  width: 90%;
  margin: auto;
}
.emailSubject
{
  font-size: 32px;
  margin-top: 6%;
  font-weight: bold;
  color: $sidebarBlack;
}
.threadCaption
{
  font-size: 12.5px;
}
.emailDate
{
  font-size: 12px;
  color: $middleGrey;
}
.responsemail
{
  background-color: $white;
  padding: 10px 20px 20px 20px !important;
  border: 1px solid $border-color;
  margin-bottom: 5%;
}

.head
{
  font-size: 14px;
  padding-bottom: 10px;
}

.fromto
{
  font-weight: bold;
  text-transform: capitalize;
}
.fromto>i
{
  margin: 0 10px;
}

.responseBody
{
  padding:15px 0;
  text-align: justify;
  font-size: 13px;
}

.emailActions
{
  width: 100%;
  text-align: right;
}
.actionIcon
{
  margin: 0 8px;
}
.actionIcon>i
{
  font-size: 18px;
  color: grey;
  cursor: pointer;
}
.actionIcon>i:hover
{
    color: $purplePink;
}
.emailDate
{
  color: grey;
}