.userdetails
{
  padding: 20px 0;
}

.mainBarContent
{
  position: relative;
  margin-top:$marginMainTop;
}

.sidebar {
  background-color: $sidebarBlack;
}
.mainTitle
{
  font-size: $fontMainHeading;
  color: $purplePink;
}
.mainTitle>i
{
  color: $purplePink;
}

.list
{
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 30vh;
  overflow-y: auto;
}
.categorySet .emailLabel
{
  padding: 8px 0;
  cursor: pointer;
}

.categorySet .emailLabel:hover
{
  background-color: rgba($lightGrey, 0.1);
  .emailLabel
  {
    color: $white ;
  }
  transition: all 0.5s;
}


.emailLabel
{
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  color: rgba($white, 0.6);
}
.active
{
  background-color: rgba($lightGrey, 0.1);
  color: $white;
}

.sidebar .divider
{
  background-color: $dividerColor;
  width: 75%;
  position: relative;
  margin: auto;
}

.labelSet
{
  margin-top: 30px;
}
.labelSetTitle
{
  color: $darkGrey;
  text-transform: uppercase;
  padding: 6px 0;
}
.labelSetTitle,.addLabel
{
  display: inline-block;
  color: $darkGrey;
  font-size: 14px;
}

.addLabel
{
  cursor: pointer;
}
.addLabel:hover
{
  color: white;
}

.labelColor
{
  width: 10px !important;
  height: 10px;
  border-radius: 50%;
  margin-top: 5px;
}
.pink
{
  @extend .labelColor;
  background-color: $pink;
}

.lime
{
  @extend .labelColor;
  background-color: $lime;
}

.blue
{
  @extend .labelColor;
  background-color: $blue;
}

.categoryLabel,.labelColor
{
  display: inline-block;
}

.categoryLabel
{
  @extend .emailLabel;
  text-align: left;
}

.side-nav li
{
  line-height: normal !important;
}

.labelList
{
  height: 30vh;
  overflow-y: auto;
}

.createLabelButton
{
  cursor: pointer;
}

.createLabelButton:hover
{
  color: white;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}