<div class="background valign-wrapper responsive-img">
    <div class="row no-margin fullwidth">
        <div class="col s12 m8 l6 offset-m2 offset-l3 loginForm">
            <div class="appWelcome">
                <div class="row no-margin fullwidth center-align">
                    <div class="inline-block appIcon">
                        <i class="material-icons medium">mail_outline</i>
                    </div>
                    <div class="large-4 raleway appTitle inline-block">Swail Mail</div>
                </div>
            </div>
            <div class="row">
                <div class="divider"></div>
            </div>

            <div class="authorizeEmailButton fullwidth center-align">
                <button class="waves-effect btn-large raleway deep-purple" ng-click="handleAuthClick()">

                    {{state}}</button>
            </div>
        </div>
    </div>
</div>