<div class="background valign-wrapper responsive-img">
    <div class="valign fullwidth loginFormWrapper row no-margin">
        <div class="loginForm col s12 m8 offset-m2 l6 offset-l3">
            <div class="fullwidth row no-margin">
                <div id="googleSignIn" class="col s4 offset-s2 offset-m1 offset-l4">
                    <div id="signInButton"></div>
                    <button class="btn" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>


