<!--Default Labels-->
<div class="divider"></div>
<div class="categorySet list">
    <a ng-class="{active: isActive(label.name, label.id)}"
       class="emailLabel col s12"
       ng-repeat="label in systemLabels"
       ng-click="changeLabel(label.id, label.name.toLowerCase())">
        <span class="labelName col offset-s2">{{label.name|lowercase}}<span class="unreadMailCount">({{label.unread}})</span></span>
    </a>
</div>
<div class="divider"></div>


<!--all other labels-->
<div class="row no-margin">
    <div class="labelSet">
        <div class="labelSetTitle col s6 offset-s2 truncate">Labels</div>
        <button class="btn-flat labelSetTitle createLabelButton col s2 offset-s1 center-align" title="Create New Label"
                data-target="createLabelModal">+
        </button>
        <div id="createLabelModal" class="modal">
            <div class="modal-content">
                <h4>Create New Label</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
                <button class=" modal-action modal-close waves-effect btn-flat">Create Label</button>
                <button class=" modal-action modal-close waves-effect btn-flat">Cancel</button>
            </div>
        </div>
    </div>
</div>



<div class="categorySet labelList">
    <a ng-repeat="category in userDefinedLabels | filter: '!CATEGORY_' |filter: '_'"
       ng-class="{active: isActive(category.name, category.id)}"
       class="emailLabel col s12" ng-click="getMail(category.id, category.name.toLowerCase())">
        <span class="col s7 offset-s2 truncate">{{category.name}}</span>
        <div class="labelColor pink col s1 offset-s1 no-gutter"></div>
    </a>
</div>
<div class="divider"></div>
<script type="text/javascript">
    $('#createLabelModal').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            complete: function() { alert('Closed'); } // Callback for Modal close
        }
    );
</script>
