$lightGrey: #FCFCFD;
$sidebarBlack: #1E2126;
$middleGrey: #d4d4d4;
$darkGrey: #4D545D;
$shadePink: #8B7B92;
$peach: #E8A7AB;
$white: #FFFFFF;
$purplePink: #A180D1;
$dividerColor: #27292b;

//label colors
$pink: #EA4C89;
$lime: #9AE14F;
$blue: #1BC3E1;

