.roboto
{
  font-family: 'Roboto', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
.row.no-margin
{
  margin: 0;
}

.col.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.large-6 {
  font-size: 2.7rem;
}

.large-2 {
  font-size: 1.5rem;
}

.thin-1 {
  font-weight: 100;
}

.thin-2 {
  font-weight: 200;
}

.thin-3 {
  font-weight: 300;
}

body {
  background: #E0E0E0;
}

.profile {
  text-align: justify;
  padding: 15px;
  position: relative;
  top: 20px;
}

.description {
  position: relative;
  top: 45px;
}

.sub
{
  vertical-align: sub;
}