.roboto {
  font-family: 'Roboto', sans-serif; }

.uppercase {
  text-transform: uppercase; }

.row.no-margin {
  margin: 0; }

.col.no-gutter {
  padding-left: 0;
  padding-right: 0; }

.large-6 {
  font-size: 2.7rem; }

.large-2 {
  font-size: 1.5rem; }

.thin-1 {
  font-weight: 100; }

.thin-2 {
  font-weight: 200; }

.thin-3 {
  font-weight: 300; }

body {
  background: #E0E0E0; }

.profile {
  text-align: justify;
  padding: 15px;
  position: relative;
  top: 20px; }

.description {
  position: relative;
  top: 45px; }

.sub {
  vertical-align: sub; }

.icon {
  font-size: 36px; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #A180D1; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #A180D1;
  box-shadow: 0 1px 0 0 #000; }

.mainBarContent {
  position: relative;
  margin-top: 31px; }

.sidebar {
  background-color: #1E2126; }

.mainTitle {
  font-size: 27px;
  color: #A180D1; }

.mainTitle > i {
  color: #A180D1; }

.compose_button {
  position: relative;
  margin: 35px auto 0 auto;
  color: #A180D1;
  border: 2px solid #A180D1;
  padding: 10px;
  width: 65%;
  border-radius: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer; }

.compose_button:hover {
  background-color: #A180D1;
  color: #1E2126; }

.list {
  list-style: none;
  margin-top: 33px;
  margin-bottom: 40px; }

li.label {
  padding: 8px 0;
  cursor: pointer; }

li.label:hover {
  background-color: rgba(252, 252, 253, 0.04);
  transition: all 0.5s; }
  li.label:hover .emailLabel, li.label:hover .categoryLabel {
    color: #FFFFFF; }

.emailLabel, .categoryLabel {
  margin-left: 63px;
  font-size: 14px; }

.active {
  background-color: rgba(252, 252, 253, 0.04); }
  .active .emailLabel, .active .categoryLabel {
    color: #FFFFFF; }

.divider {
  background-color: #27292b;
  width: 75%;
  position: relative;
  margin: auto; }

.labelSetTitle {
  color: #4D545D;
  text-transform: uppercase;
  margin-left: 63px;
  margin-top: 30px;
  padding: 6px 0;
  width: 43%; }

.labelSetTitle, .addLabel {
  display: inline-block;
  color: #4D545D;
  font-size: 14px; }

.addLabel {
  cursor: pointer; }

.addLabel:hover {
  color: white; }

.labelColor, .pink, .lime, .blue {
  width: 10px;
  height: 10px;
  border-radius: 50%; }

.pink {
  background-color: #EA4C89; }

.lime {
  background-color: #9AE14F; }

.blue {
  background-color: #1BC3E1; }

.categoryLabel, .labelColor, .pink, .lime, .blue {
  display: inline-block; }

.categoryLabel {
  width: 43%; }

.emailContent {
  background-color: #FCFCFD; }

.dropdown-content {
  background-color: #FFFFFF; }

.icon, .link {
  display: inline-block; }

.link, .link:visited, .link:hover, .link:active {
  font-size: 27px;
  vertical-align: bottom;
  color: #A180D1; }

.sectionTitle {
  margin-left: 63px; }

.titlebar {
  width: 100%; }

.searchField {
  width: 40% !important;
  position: relative;
  margin-right: 50px !important;
  margin-bottom: 0 !important; }

html, body {
  height: 100vh; }

.fullHeight {
  height: 100vh; }

/*# sourceMappingURL=styles.css.map */
