.roboto {
  font-family: 'Roboto', sans-serif; }

.uppercase {
  text-transform: uppercase; }

.row.no-margin {
  margin: 0 !important; }

.no-margin {
  margin: 0 !important; }

.col.no-gutter {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.no-gutter {
  padding-left: 0;
  padding-right: 0; }

.large-6 {
  font-size: 2.7rem; }

.large-2 {
  font-size: 1.5rem; }

.large-4 {
  font-size: 2rem; }

.thin-1 {
  font-weight: 100; }

.thin-2 {
  font-weight: 200; }

.thin-3 {
  font-weight: 300; }

body {
  background: #E0E0E0; }

.profile {
  text-align: justify;
  padding: 15px;
  position: relative;
  top: 20px; }

.description {
  position: relative;
  top: 45px; }

.sub {
  vertical-align: sub; }

.icon {
  font-size: 36px; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #A180D1; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #A180D1;
  box-shadow: 0 1px 0 0 #000; }

.inline-block {
  display: inline-block; }

.vtop {
  vertical-align: top; }

.accentText {
  color: #A180D1; }

.underline:hover {
  cursor: pointer;
  text-decoration: underline; }

.raleway {
  font-family: 'Raleway', sans-serif; }

.fullwidth {
  width: 100%; }

.userdetails {
  padding: 20px 0; }

.mainBarContent {
  position: relative;
  margin-top: 31px; }

.sidebar {
  background-color: #1E2126; }

.mainTitle {
  font-size: 27px;
  color: #A180D1; }

.mainTitle > i {
  color: #A180D1; }

.list {
  list-style: none;
  margin-top: 33px;
  margin-bottom: 40px;
  height: 30vh;
  overflow-y: auto; }

li.label {
  padding: 8px 0;
  cursor: pointer; }

li.label:hover {
  background-color: rgba(252, 252, 253, 0.04);
  transition: all 0.5s; }
  li.label:hover .emailLabel, li.label:hover .categoryLabel {
    color: #FFFFFF; }

.emailLabel, .categoryLabel {
  font-size: 14px; }

.active {
  background-color: rgba(252, 252, 253, 0.04); }
  .active .emailLabel, .active .categoryLabel {
    color: #FFFFFF; }

.sidebar .divider {
  background-color: #27292b;
  width: 75%;
  position: relative;
  margin: auto; }

.labelSet {
  margin-top: 30px; }

.labelSetTitle {
  color: #4D545D;
  text-transform: uppercase;
  padding: 6px 0; }

.labelSetTitle, .addLabel {
  display: inline-block;
  color: #4D545D;
  font-size: 14px; }

.addLabel {
  cursor: pointer; }

.addLabel:hover {
  color: white; }

.labelColor, .pink, .lime, .blue {
  width: 10px !important;
  height: 10px;
  border-radius: 50%;
  margin-top: 5px; }

.pink {
  background-color: #EA4C89; }

.lime {
  background-color: #9AE14F; }

.blue {
  background-color: #1BC3E1; }

.categoryLabel, .labelColor, .pink, .lime, .blue {
  display: inline-block; }

.categoryLabel {
  text-align: left; }

.side-nav li {
  line-height: normal !important; }

.sectionTitle {
  margin-top: 17px;
  margin-bottom: 34px; }

.emailContent {
  background-color: #FCFCFD;
  overflow-y: scroll; }

.dropdown-content {
  background-color: #FFFFFF; }

.icon, .link {
  display: inline-block; }

.button-collapse {
  vertical-align: bottom; }

.link, .link:visited, .link:hover, .link:active {
  font-size: 27px;
  vertical-align: bottom;
  color: #A180D1; }

.small-search {
  width: 80% !important; }

.searchField {
  width: 70%; }
  .searchField .input-field-search {
    width: 85%;
    margin-right: 10px; }

.mailCheck[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #A180D1;
  background-color: #A180D1; }

[type="checkbox"] + label {
  padding-left: 0 !important;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7); }

[type="checkbox"].filled-in:not(:checked) + label:after {
  border: 2px solid #d4d4d4 !important; }

[type="checkbox"].filled-in:not(:checked):hover + label:after {
  border: 2px solid #1E2126 !important; }

.star {
  position: relative;
  margin-left: 20px; }

.trash i, .star i {
  font-size: 20px;
  color: #d4d4d4;
  cursor: pointer; }
.trash i:hover, .star i:hover {
  color: #1E2126;
  transition: all 0.2s; }

.seperator {
  font-weight: normal; }

.mailSubject {
  font-weight: bold; }

.mail {
  font-size: 13.8px; }

.mail {
  border-left: 3px solid transparent; }

.mail:hover {
  background-color: rgba(77, 84, 93, 0.1); }

.activeMail {
  border-left: 7px solid #A180D1;
  background-color: rgba(77, 84, 93, 0.1); }

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  margin-bottom: 0 !important; }

.subjectAndBody, .dateRecieved {
  padding: 6px 0 !important; }

[type="checkbox"] + label {
  height: 19px !important; }

.star, .selectBox, .trash {
  vertical-align: middle; }

.actionIcons {
  padding-top: 5px !important; }

.senderDetails {
  padding-top: 5px !important; }

.mailItem {
  padding: 5px 0; }

.searchField {
  height: 2rem !important; }

/* label underline focus color */
input[type=text]:focus {
  border-bottom: 1px solid #A180D1 !important;
  box-shadow: 0 1px 0 0 #A180D1 !important; }

.emailBody {
  background-color: #EFEFEF;
  overflow-y: scroll; }

.emailBodyContent {
  text-align: left;
  width: 90%;
  margin: auto; }

.emailSubject {
  font-size: 32px;
  margin-top: 3%;
  font-weight: bold;
  color: #1E2126; }

.threadCaption {
  font-size: 12.5px; }

.emailDate {
  font-size: 12px;
  color: #d4d4d4; }

.responsemail {
  background-color: #FFFFFF;
  padding: 10px 20px 20px 20px !important;
  border: 1px solid #d0d0d0;
  margin-bottom: 5%; }

.head {
  font-size: 14px;
  padding-bottom: 10px; }

.fromto {
  font-weight: bold;
  text-transform: capitalize; }

.fromto > i {
  margin: 0 10px; }

.responseBody {
  padding: 15px 0;
  text-align: justify;
  font-size: 13px; }

.emailActions {
  width: 100%;
  text-align: right; }

.actionIcon {
  margin: 0 8px; }

.actionIcon > i {
  font-size: 18px;
  color: grey;
  cursor: pointer; }

.actionIcon > i:hover {
  color: #A180D1; }

.emailDate {
  color: grey; }

html, body {
  height: 100vh; }

.fullHeight {
  height: 100vh; }

.thirdsHeight {
  height: 75vh; }

.background {
  background: url("../img/background.jpg") black;
  height: 100%;
  background-size: cover; }

.loginForm {
  background: rgba(30, 33, 38, 0.9);
  padding: 75px !important; }

.appIcon, .appTitle {
  vertical-align: middle;
  color: #A180D1;
  text-transform: uppercase; }

.appIcon {
  padding-right: 10px; }

.appWelcome {
  padding: 40px 0 !important; }

.authorizeEmailButton {
  padding: 40px 0; }

.row > .divider {
  width: 75%;
  margin: auto; }

.searchButton {
  margin: 5px 0; }

.userName {
  text-align: left;
  margin: 7px 0; }

.displayName {
  text-transform: uppercase; }

.logout {
  font-size: 12px;
  cursor: pointer; }

.logout:hover {
  text-decoration: underline; }

.searchField {
  text-align: left; }

/*# sourceMappingURL=styles.css.map */
