@import "snippets";
@import "colors";
@import "fonts";
@import "margins";
@import "appStyles/sidebar";
@import "appStyles/emailList";
@import "appStyles/mailBody";

html,body
{
  height: 100vh;
}

.fullHeight
{
  height: 100vh;
}
.thirdsHeight
{
  height: 75vh;
}
.background
{
  background: url("../img/background.jpg");
  height:100%;
  background-size: cover;
}

.loginForm {
  background: rgba($sidebarBlack, 0.90);
  padding: 75px !important;
}

.appIcon, .appTitle
{
  vertical-align: middle;
  color: $purplePink;
  text-transform: uppercase;
}
.appIcon{
  padding-right: 10px;
}

.appWelcome
{
  padding: 40px 0 !important;
}

.authorizeEmailButton
{
  padding: 40px 0;
}

.row>.divider
{
  width: 75%;
  margin: auto;
}
